@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    margin: 0;
    background-color: #010A2B;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.conteudo {
    margin: 100px 200px 0 200px;
}


.começo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 0 200px;
    width: 100%;
}

.começo-lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-left: 0; 
    gap: 20px; 
}

a {
    color: #FFFFFF;
}

.começo-itens {
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 31px 20px;
}

a:hover{
    color: #00CF56;
}

.começo-logo {
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #00CF56;
}

.meio-chamativo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.começo-titulo {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bolder;
    font-family: "Kantumruy Pro", sans-serif;
}

.começo-texto {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    font-family: "Kantumruy Pro", sans-serif;
}

.botao-orçamento {
    margin: 50px;
    width: 230px;
    height: 42px;
    background-color: #00CF56;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 5px;
}

.botao-orçamento:hover {
    background-color: #00CF56;
    font-weight: bold;
    font-size: 18px;
}

.meio-chamativo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 90px;
    padding-top: 90px;
}

.titulo-meio {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}


.topicos-gerais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 90px;
    display: flex;
    gap: 64px;
}

.topico-um {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}

.um-texto {
    font-weight: normal;
    font-size: 26px;
    align-items: center;
    text-align: center;
}

.dois-texto {
    font-weight: normal;
    font-size: 26px;
    text-align: center;
}

.tres-texto {
    font-weight: normal;
    font-size: 26px;
    text-align: center;
}

.certo-um {
    align-items: center;
    width: 89.3px;
    height: 84.89;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.primeiro-topico {
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.topico-dois {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}

.certo-dois {
    align-items: center;
    width: 89.3px;
    height: 84.89;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.segundo-topico {
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.topicos-tres {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding-left: 20px;
    text-align: center;
    align-items: center;
}

.certo-tres {
    align-items: center;
    width: 89.3px;
    height: 84.89;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.terceiro-topico {
    padding-bottom: 30px;
    margin-bottom: 10px;
}


/*footer*/

.fim-do-site {
    border-top: 3px solid #00CF56;
    width: 100%; 
}

.finais-gerais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 200px; 
    width: 100%;
    box-sizing: border-box;
}

.ltcar-fim {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #00CF56;
    font-weight: bold;
    font-size: 32px;
}

.ltcar-texto {
    font-weight: 300px;
    font-size: 20px;
}

.contato-fim {
    padding-top: 15px;
    color: #00CF56;
    font-weight: bold;
    font-size: 32px;
}

.social-fim {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #00CF56;
    font-weight: bold;
    font-size: 32px;
}

.primeiro-endereco {
    font-weight: normal;
    font-size: 18px;
}

.segundo-endereco {
    font-weight: normal;
    font-size: 18px;
}


.ltcar-despedida {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
}

.contato-final {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.primeiro-endereço {
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
}

.segundo-endereço {
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
}

.contato-fim {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: "Kantumruy Pro", sans-serif;
}

.telefone-final {
    display: flex;
    flex-direction: row;
}

.wpp-final {
    display: flex;
    flex-direction: row;
}

.social-final {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
}

.imagens-social {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.facebook {
    padding-right: 26px;
}

.instagram {
    padding-right: 26px;
}

.linkedin {
    padding-right: 26px;
}

.ultimo-texto {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ADABC4;
    font-family: "Kantumruy Pro", sans-serif;
    text-align: center;
}


/*quem somos*/


.foto-texto {
    display: flex;
    flex-direction: column;
}

.ltcar-frente {
    width: 499px;
    height: 374px;
}

.texto-foto {
    padding-top: 40px;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
    font-style: normal;

}

.titulo-grande{
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
}

.titulo-texto{
    padding-left:40px;
}
.texto-grande{
    padding-top: 32px;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.textos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;

}

.conteudo-quem-somos {
    margin: 100px 200px 0 200px;
}

.texto-loc{
    padding-top: 32px;
    padding-bottom: 30px;
    color: #00CF56;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    
}

.localizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.agendar-orçamento {
    width: 100%; 
    background-color: #00CF56;
    height: auto;
    padding: 30px 200px;    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agende {
    font-family: "Kantumruy Pro", sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.botao-orçamento-2 {
    width: 230px;
    height: 42px;
    background-color: #00CF56;
    border: 2px solid #FFFFFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


/*Serviços*/

.conteudo-serviços {
    margin: 100px 200px 0 200px;
}


.pergunta {
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 24px; 
    width: 100%; 
    text-align: center; 
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 60px; 
}

.todos-juntos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 40px;
    padding-bottom: 90px; 
}

.primeiros-quatro,
.segundos-quatro {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    gap: 80px; 
    width: 100%; 
    max-width: 1200px; 
}

.trocaO, .trocaC, .embre, .moto, .arref, .balan, .alinha, .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; 
}

.img-troca-de-oleo,
.img-troca-de-correia,
.img-embreagem,
.img-motor,
.img-arrefecimento,
.img-balanceamento,
.img-alinhamento,
.img-informaçoes {
    width: 110px;
    height: 110px;
}

.troca-de-oleo,
.troca-de-correia,
.embreagem,
.motor,
.Arrefecimento,
.Balanceamento,
.alinhamento,
.informaçoes {
    font-weight: normal; 
    font-size: 16px; 
}

.seta-um,
.seta-dois,
.seta-tres,
.seta-quatro,
.seta-cinco,
.seta-seis,
.seta-sete,
.seta-oito {
    width: 20px;
    height: 20px;
    margin-top: 5px; 
}


/*quem somos*/


.foto-texto {
    display: flex;
    flex-direction: column;
}

.ltcar-frente {
    width: 499px;
    height: 374px;
}

.texto-foto {
    padding-top: 40px;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
    font-style: normal;

}

.titulo-grande{
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
}

.titulo-texto{
    padding-left:40px;
}
.texto-grande{
    padding-top: 32px;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.textos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;

}

.conteudo-quem-somos {
    margin: 100px 200px 0 200px;
}

.agendar-orçamento {
    width: 100%;
    background-color: #00CF56;
    height: auto;
    padding: 30px 200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agende {
    font-family: "Kantumruy Pro", sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.botao-orçamento-2 {
    width: 230px;
    height: 42px;
    background-color: #00CF56;
    border: 2px solid #FFFFFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/*Serviços*/

.conteudo-serviços {
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 0; 
    margin-right: 0; 
    padding: 0 200px;
}


.pergunta {
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 24px; 
    width: 100%; 
    text-align: center; 
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 60px; 
}

.todos-juntos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 40px;
    padding-bottom: 90px; 
}

.primeiros-quatro,
.segundos-quatro {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    gap: 80px; 
    width: 100%; 
    max-width: 1200px; 
}

.trocaO, .trocaC, .embre, .moto, .arref, .balan, .alinha, .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; 
}

.img-troca-de-oleo,
.img-troca-de-correia,
.img-embreagem,
.img-motor,
.img-arrefecimento,
.img-balanceamento,
.img-alinhamento,
.img-informaçoes {
    width: 110px;
    height: 110px;
}

.troca-de-oleo,
.troca-de-correia,
.embreagem,
.motor,
.Arrefecimento,
.Balanceamento,
.alinhamento,
.informaçoes {
    font-weight: normal; 
    font-size: 16px; 
}

.seta-um,
.seta-dois,
.seta-tres,
.seta-quatro,
.seta-cinco,
.seta-seis,
.seta-sete,
.seta-oito {
    width: 20px;
    height: 20px;
    margin-top: 5px; 
}

.começo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 120px; 
    justify-content: space-between; 
    width: 100%;
}

.começo-lista {
    padding-left: 0; 
    list-style-type: none;
    gap: 20px; 
}

.começo-itens {
    padding: 31px 20px; 
}

.começo-logo {
    padding-left: 0; 
}

.agendar-orçamento {
    width: 100%;
    background-color: #00CF56;
    height: auto;
    padding: 30px 200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agende {
    font-family: "Kantumruy Pro", sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.botao-orçamento-2 {
    width: 230px;
    height: 42px;
    background-color: #00CF56;
    border: 2px solid #FFFFFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* media inicial */

@media screen and (max-width: 900px) {

    .conteudo {
        padding: 10px; 
    }

    .começo-menu {
        flex-direction: column; 
        align-items: center;
        padding: 15px 0;
    }

    .começo-lista {
        flex-direction: column; 
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    .começo-itens {
        margin: 5px 0; 
        padding: 5px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .começo-itens:last-child {
        border-bottom: none;
    }

    .meio-chamativo {
        text-align: center;
        padding: 40px 10px;
    }

    .começo-titulo {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .começo-texto {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
    .começo-titulo br, .começo-texto br {
       
        content: normal; 
    }

    .titulo-meio {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }

    .topicos-gerais {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 20px; 
        padding: 0 15px;
    }

    .topico-um, .topico-dois, .topicos-tres {
        width: 80%; 
        margin-bottom: 15px;
        text-align: center;
        padding: 20px;
    }
    
    .primeiro-topico, .segundo-topico, .terceiro-topico {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .finais-gerais {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        gap: 30px; 
        padding: 30px 10px;
    }
    
    .ltcar-despedida, .contato-final, .social-final {
        width: 100%; 
    }

    .telefone-final, .wpp-final {
        justify-content: center; 
    }

    .ultimo-texto {
        font-size: 0.8rem;
    }
}

/* media quemsomos */

@media (max-width: 900px) {

    .começo-menu {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .começo-logo {
        padding-left: 0;
        font-size: 28px;
    }

    .começo-lista {
        padding: 0;
        flex-direction: column;
        gap: 8px;
    }

    .começo-itens {
        padding: 8px 0;
    }


        .conteudo-quem-somos {
        margin: 120px 20px 0 20px; 
    }

    .textos {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .ltcar-frente {
        width: 90%;
        height: auto;
    }

    .texto-foto,
    .texto-grande {
        font-size: 18px;
        line-height: 1.4;
    }

    .titulo-grande {
        font-size: 26px;
        text-align: center;
    }

    .agendar-orçamento {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 25px 20px;
        height: auto;
        gap: 20px;
    }

    .agende {
        font-size: 24px;
    }

    .botao-orçamento-2 {
        width: 80%;
        height: 45px;
    }

    .finais-gerais {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        padding: 20px;
    }

    .ltcar-despedida,
    .contato-final,
    .social-final {
        padding: 0;
    }

    .ultimo-texto {
        font-size: 14px;
        padding: 20px;
    }
}

@media (max-width: 600px) {

    .titulo-grande {
        font-size: 22px;
    }

    .texto-foto,
    .texto-grande {
        font-size: 16px;
    }

    .agende {
        font-size: 20px;
    }

    .botao-orçamento-2 {
        width: 100%;
        font-size: 16px;
    }
}

